body {
    background-color: #37B6CE;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: #015666;
}

h2 {
    color: #206876;
}

h3 {
    color: #04859D;
}